.about__submenu {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    position: absolute;
    
    list-style-type: none;
    width: 180px;
    padding: 4px;

    
    line-height: 34px;
    
    height: 120px;
    width: 170px;
}

.nav__menu-item:hover {
     
    .about__submenu {
        visibility: visible;
        position: fixed;

        .about__submenu-item {
            color: $lightGray;
        
            &:hover {
                color: $lightGreen;
            }
        }
    }
}