.blog-form-wrapper {
    @include base-grid();
    grid-template-columns: 1fr;
    padding: 42px;


    @include input-element();
    
    input {
        width: 30%;
        font-size: 2em;
    }

    .ReactModal__Content, .ReactModal__Content--after-open {
        height: 80%;
    }
    

    .btn-modal {
        @include base-btn();
        height: 38px;
        width: 400px;
    }
}
