@mixin base-btn {
  cursor: pointer;
  font-family: 'Exo 2', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  background-color: $lightGreen;
  color: $white;
  border-radius: 100px;
  border: 2px solid $lightGreen;  
}