.blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1200px;
    

    .blog-top-blogs {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 1080px;
        margin: 20px;
        padding: 20px;


        .blog-top-blog {
            display: flex;
            flex-direction: column;
            align-items: center;
            

            

            h1 {
                font-size: 18px;
                color: $lightGray;
                margin-top: 24px;
            }
        }
    }
}