.contact-container {
    height: 1100px;
    width: auto;

    .contact-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        

        .contact__info {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            justify-content: space-around;
            gap: 100px;
            line-height: 28px;
            margin: 28px;
            padding-bottom: 48px;
            padding-top: 48px;

            h1 {
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 18px;
            }
            p {
                
                font-size: 17px;
                color: #6b7362;
            }
            
            .contact__info__icon {
                font-size: 3rem;
                color: $lightGreen;
                margin-bottom: 18px;
            }
            .social__icon {
                font-size: 2.55rem;
                color: $lightGray;
                margin-right: 18px;
            }
            .contact__address {
               
            }
            .contact__phone {

            }
            .contact__hours {

            }
            .contact__social {
                font-family: Font Awesome\ 5 Free;
                font-weight: 400;
                font-size: 28px;
            }
        
        }
    
        .contact-form {
            display: flex;
            flex-direction: row;
            .contact-form__map {
                height: 520px;
                width: 520px;
                margin-right: 90px;
            }
            .contact-form__form {
                display: flex;
                flex-direction: column;
                color: #394130;
                padding: 0 110px 0 20px;
                font-size: 16px;
                border-radius: 3px;
                line-height: 30px;
                   
            }
        }
    }
}